.banner {
    --banner-img-offset-y: 24px;

    padding-block: var(--banner-img-offset-y);

    @include tablet {
        --banner-img-offset-y: 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-gray);
        border-radius: var(--border-radius-large);
    }

    &__body {
        padding: 60px;
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 26px;

        @include tablet {
            padding: 50px;
        }

        @include mobile {
            row-gap: 20px;
        }

        @include mobile-s {
            padding: 25px;
        }
    }

    &__desc {
        max-width: 500px;
    }

    &__img {
        margin-block: calc(var(--banner-img-offset-y) * -1);

        @include tablet {
            max-width: 40%;
            height: auto;
        }
    }

    &__button {
        @include mobile-s {
            font-size: 18px;
        } 
    }
}