/* Nav Icon */
.burger-button {
	@include square(48px);

	position: relative;

	&::after {
		@include abs-center;

		content: '';
		width: 50%;
		height: 2px;
		background-color: var(--color-dark);
		border-radius: 5px;
		box-shadow: 0 -8px, 0 8px;
	}
}