.hero {
    display: flex;
    flex-direction: column;
    row-gap: var(--section-padding-y);
    
    @include desktop {
        row-gap: 60px;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: start;
        column-gap: 30px;

        @include mobile {
            flex-direction: column;
        }
    }

    &__body {
        max-width: 531px;
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 35px;

        @include mobile {
            display: contents;
        }
    }

    &__desc {
        font-size: 20px;
        line-height: 1.4;

        @include mobile {
            margin-bottom: 40px;
        }
    }

    &__partners {
        &-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 37px;

            @include tablet {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                row-gap: 20px;
            }
        }

        &-item {
            @include tablet {
                display: flex;
                justify-content: center;
            }
        }

        &-img {
            filter: grayscale(1);
        }
    }

    &__img {
        @include tablet {
            max-width: 40%;
            height: auto;
        }

        @include mobile {
            order: -1;
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
        }
    }

    &__title {
        @include mobile {
            order: -2;
            margin-bottom: 10px;
        }
    }

    &__button {
        @include mobile {
            width: 100%;
            max-width: 390px;
            margin-inline: auto;
        }
    }
}