.mobile-overlay {
    position: fixed;
    inset: 0;
    padding: 14px 20px;
    background-color: var(--color-light);
    translate: 0 -100%;
    transition: translate var(--transition-duration) ease;
    z-index: 1000;

    &--open {
        translate: 0 0;
    }

    &__close-button-wrapper {
        display: flex;
        justify-content: end;
    }

    &__list {
        @include flex-center;

        flex-direction: column;
        row-gap: 15px;
        min-height: 80lvh;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        height: 40px;
    }
}