.section {
	padding-block: var(--section-padding-y);

    &--hidden-x {
        overflow-x: hidden;
    }

    &__header {
        display: flex;
        align-items: center;
        column-gap: 40px;
        text-wrap: pretty;

        &:not(:last-child) {
            margin-bottom: 80px;

            @include mobile {
                margin-bottom: 40px;
            }
        }

        @include mobile {
            flex-direction: column;
            row-gap: 30px;
            text-align: center;
        }
    }

    &__desc {
        max-width: 590px;
    }
}